# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
.idea/
.mvn/wrapper/*.jar
.mvn/wrapper/*.java
target*/
.dockerignore
# Log file
*.log

# Package Files #
*.nar
*.zip
*.tar.gz
*.rar
*.iml
